.card_box {
box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
    margin-top: 20px !important;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #b1e8d6 !important;
}

.header {
    margin-bottom: 13px;
}