.card_box_head {
box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
 margin-top:20px !important;
margin-left: 20px;
border-radius: 10px;
}

.total_record {
    background-color: #dbcaca !important;
}

.total_purchase {
    background-color: #b1e8d6 !important;
}
.total_tax {
    background-color: #e6e8b1 !important;
}
.total_sales {
    background-color: #b4b1e8 !important;
}

.header {
    margin-bottom: 13px;
}